<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      ><span class="she"
        ><em><b>She</b></em></span
      >
      Codes & Mentors</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mentors" routerLinkActive="active"
              >Mentors</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active"
              >Messages</a
            >
          </li>
        </ng-container>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <img
          src="{{ user.photoUrl || './assets/user.jpg' }}"
          alt="user default photo"
          class="rounded-circle"
        />
        <a
          class="dropdown-toggle text-dark text-decoration-none ms-2"
          dropdownToggle
          >Welcome {{ user.username | titlecase }}</a
        >
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="/mentor/edit">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form
        *ngIf="!(accountService.currentUser$ | async)"
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <div class="form-group me-2">
          <label for="username" class="visually-hidden">Username</label>
          <input
            name="username"
            [(ngModel)]="model.username"
            type="text"
            class="form-control"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group me-2">
          <label for="password" class="visually-hidden">Password</label>
          <input
            name="password"
            [(ngModel)]="model.password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <button class="btn" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</nav>
